.task__card {
    border-radius: .5rem;
    padding: .75rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

/* listview */


.listview__tasks {
    border-radius: .5rem;
    padding: .5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 3px rgb(155, 155, 155);
}


.listview__tasks .listview__deadline {
    font-size: .7rem;
    color: rgb(84, 84, 84);
}
.listview__tasks .listview__container__left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.listview__tasks .listview__container__right {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.listview__tasks .listview__column__title__container {
    border-radius: .5rem;
    padding: .3rem;
}
.listview__tasks .column__done {
    background-color: rgb(142, 255, 161);
}
.listview__tasks .column__todo {
    background-color: rgb(160, 205, 255);
}

.listview__tasks .column__doing {
    background-color: rgb(235, 233, 160);
}

.listview__tasks .column__default {
    background-color: #e07b7ba7;
}


.listview__tasks .listview__column__title__container p {
    margin: 0;
}

.listview__tasks .listview__responsible__container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.listview__tasks .listview__responsible {
    margin-top: 16px;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(247, 154, 170);
}

