/* -------------
----- MAIN -----
-------------- */

* {
    margin: 0;
}

.main {
    border-radius: .5rem;
    padding: .75rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.main 
.responsible__container{
    width: fit-content;
    display: flex;
    gap: .5rem;
}

.main 
.responsible {
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(154, 247, 224);
    width: 35px;
    height: 35px;
}

/* -------------
--- LISTVIEW ---
-------------- */
.listview {
    border-radius: .5rem;
    padding: .5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 3px rgb(155, 155, 155);
}

.listview 
.deadline {
    font-size: .7rem;
    color: rgb(84, 84, 84);
}

.container__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.listview 
.container__right {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.listview 
.column__title__container {
    border-radius: .5rem;
    padding: .3rem;
}
.listview 
.column__done {
    background-color: rgb(142, 255, 161);
}
.listview 
.column__todo {
    background-color: rgb(160, 205, 255);
}

.listview 
.column__doing {
    background-color: rgb(235, 233, 160);
}

.listview 
.column__default {
    background-color: #e07b7ba7;
}


.listview 
.responsible__container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.listview 
.responsible {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 15px;
    border-radius: 35px;
    background-color: rgb(247, 154, 170);
}

