.main {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.tasks-column {
    position: relative;
   
    background-color: white;
    border-radius: 10px; 
    height: 80vh; 
    width: 30%; 
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.column-header {
    font-weight: bold;
    margin-bottom: 10px;
   
}

.add-column-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
   
}

.settings-menu {
    position: absolute;
    top: 15px;
    right: 10px;
  
}

.task-card {
    border: solid;
    border-radius: 10px;
    margin: 5px;
}


