.add-task-container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.add-task-btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

form {
  margin-top: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.add-task {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
}
