.add__task__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add__task__btn {
  height: 40px;
  font-size: 1rem;
  padding: .5rem .75rem;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add__task {
  padding: .5rem .75rem;
  border-radius: 5px;
  border: none;
}

.add__task__form {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: .5rem;
}

.responsible__user__ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.responsible__user__li {
  list-style: none;
  border: 1px solid;
  border-radius: .5rem;
  padding: 2px .5rem;
  cursor: pointer;
}