* {
  margin: 0;
}

.add__task__container {
  display: flex;
  flex-direction: column;
}

.add__task__btn {
  height: 40px;
  font-size: 1rem;
  padding: .5rem .75rem;
  border-radius: 5px;
  background-color: #0275d8;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add__task__btn:hover {
  background-color: darkblue;
}

.add__task__form {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: .5rem;
}

.addtask__modal__header {
  display: flex;
  justify-content: space-between;
}

.add__task__title {
  width: 90%;  
  border: none;
}

.closeBtn__add__task__modal {
  flex: end;
  font-size: 1.5rem;
}

.add__task__description {
  height: 4rem;
  resize: none;
  padding: .5rem .75rem;
  border-radius: 5px;
  border: none;
}

.add__task__btn {
  padding: .5rem .75rem;
  border-radius: 5px;
  border: none;
}

.closeBtn__add__task__modal:hover {
  opacity: .7;
  cursor: pointer;
}

.responsible__user__ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.responsible__user__li {
  list-style: none;
  border: 1px solid;
  border-radius: .5rem;
  padding: 2px .5rem;
  cursor: pointer;
}