.add-task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.add-task-btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-task {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
}

.add-task-form {
  margin-top: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  z-index: 10;
}

.responsible-user-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.responsible-user-li {
  list-style: none;
  border: 1px solid;
  border-radius: .5rem;
  width: fit-content;
  padding: 0 2px;
}