header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.header__title {
  color: white;
  font-size: 3.5rem;
  margin: 0 auto;
}

.header__nav__container {
  position: relative;
}

.header__ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

/* Oklar storlek på li-element utan denna */
/* 4extra px som 'padding' på botten av elementet som inte går bort */
.header__li {
  height: 35px;
}

.header__icons {
  font-size: 35px;
  color: #ffffff;
  transition: all 0.2s;
  cursor: pointer;
}

.header__icons:hover {
  color: #686868;
}

.add:hover {
  rotate: 180deg;
}

.header__logo__container {
  height: 7rem;
}

.header__logo {
  height: 100%;
}

@media screen and (max-width: 500px) {
  .header__nav__container {
    margin: 0 auto;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__icons {
    font-size: 1.5rem;
  }
}

@media screen and (360px < width < 500px) {
  .header__nav__container {
    margin: 0 auto;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__icons {
    font-size: 2rem;
  }
}

@media only screen and (480px < width < 768px) {
  .header__nav__container {
    margin: 0 auto;
  }

  .header__title {
    font-size: 3rem;
  }

  .header__icons {
    font-size: 2.5rem;
  }
}
