.listview__container {
    display: flex;
    margin: 0 auto;
    background-color: #e2e2e27c;
    backdrop-filter: blur(2px);
    width: 50vw;
    height: 60vh;
    border-radius: 1rem;
}

