* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

body {
  background-image: url(../image/mountain-background.jpg);
  background-size: cover;
  background-position: center;
  overflow: auto;
}
